﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var username = "";
    var email = "";
    bool logedIn = HttpContextAccessor.HttpContext.Session.GetInt32("UserId") != null ? true : false;

    if (HttpContextAccessor.HttpContext.Session.GetInt32("UserId") != null)
    {
        username = HttpContextAccessor.HttpContext.Session.GetString("Email").Replace("\"", "");
        email = HttpContextAccessor.HttpContext.Session.GetString("Email").Replace("\"", "");

    }
    else
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/Login/index");
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SLSWebApp</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/assets/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/assets/vendors/chartist/chartist.min.css">
    <link rel="stylesheet" href="~/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    @*<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="~/assets/css/CheckPasswordStrength.css" rel="stylesheet" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <style>
        .clsLogoSize {
            width: auto !important;
            height: 64px !important;
            margin-left: 50% !important;
        }

        .active {
            color: #d45b14 !important;
        }
    </style>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html">
                    <img src="~/assets/images/witslogo.jpg" alt="logo" class="logo-dark clsLogoSize" />
                    <img src="~/assets/images/witslogo.jpg" alt="logo-light" class="logo-light clsLogoSize">
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/assets/images/logo-mini.svg" alt="logo" /></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">

                            <img class="img-xs rounded-circle ml-2" src="../assets/images/faces/face8.jpg" alt="Profile image">

                            <span class="font-weight-normal">
                                @username
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <div class="dropdown-header text-center">

                                <img class="img-xs rounded-circle ml-2" src="../assets/images/faces/face8.jpg" alt="Profile image">

                                <p class="mb-1 mt-3">
                                    @username
                                </p>
                                <p class="font-weight-light text-muted mb-0">@email</p>
                            </div>
                           @* <a class="dropdown-item" href="@Url.Action("Index", "UserManagement")"><i class="dropdown-item-icon icon-user text-primary"></i> My Profile</a>
                            <a class="dropdown-item"><i class="dropdown-item-icon icon-speech text-primary"></i> Messages</a>
                            <a class="dropdown-item"><i class="dropdown-item-icon icon-energy text-primary"></i> Activity</a>
                            <a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i> FAQ</a>*@
                            <a class="dropdown-item" href="@Url.Action("Index", "Login")"><i class="dropdown-item-icon icon-power text-primary"></i>Sign Out</a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div id="settings-trigger" style="margin-bottom: 50px;"><i class="icon-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close icon-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles dark"></div>
                    <div class="tiles default light"></div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item navbar-brand-mini-wrapper">
                        <a class="nav-link navbar-brand brand-logo-mini" href="index.html"><img src="~/assets/images/logo-mini.svg" alt="logo" /></a>
                    </li>
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="profile-image">

                                <img class="img-xs rounded-circle ml-2" src="../assets/images/faces/face8.jpg" alt="Profile image">

                                <div class="dot-indicator bg-success"></div>
                            </div>
                            <div class="text-wrapper">
                                <p class="profile-name">
                                    @username
                                </p>
                                <p class="font-weight-light text-muted mb-0">@email</p>
                            </div>
                            <div class="icon-container">
                                <i class="icon-bubbles"></i>
                                <div class="dot-indicator bg-danger"></div>
                            </div>
                        </a>
                    </li>
                      @if (HttpContextAccessor.HttpContext.Session.GetInt32("RoleId") != 14)
                    {
                        @*   <li class="nav-item nav-category" style="color:#e15b14"><span class="nav-link">Support Logging</span></li>*@
                        <li class="nav-item" id="page-layouts-parent">
                            <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="true" aria-controls="page-layouts">
                                <span class="menu-title">Survey</span>
                                <i class="icon-graph menu-icon"></i>
                            </a>
                            <div class="collapse" id="page-layouts">
                          
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" id="lnkSupportCaseHistory" onclick="highlightSelectedMenuItem(this)" href="@Url.Action("Survey", "Survey")">Do a Survey</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("RoleId") == 14)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#page-settings" aria-expanded="false" aria-controls="page-settings">
                                <span class="menu-title">Manage</span>
                                <i class="icon-settings menu-icon"></i>
                            </a>
                            <div class="collapse" id="page-settings">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" id="lnkClientManagement" onclick="highlightSelectedMenuItem(this)" href="@Url.Action("RestaurantManagement", "RestaurantManagement")">Manage Restaurant Classification</a></li>
                                </ul>
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" id="lnkUserManagement" onclick="highlightSelectedMenuItem(this)" href="@Url.Action("ManageDishType", "ManageDishType")">Manage Dish Types</a></li>
                                </ul>
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" id="lnkUserManagement" onclick="highlightSelectedMenuItem(this)" href="@Url.Action("RestaurantManagement", "RestaurantManagement")">Manage Restaurant</a></li>
                                </ul>
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" id="lnkUserManagement" onclick="highlightSelectedMenuItem(this)" href="@Url.Action("UserManagement", "User")">Manage User</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#page-reports" aria-expanded="false" aria-controls="page-reports">
                                <span class="menu-title">Reports</span>
                                <i class="icon-chart menu-icon"></i>
                            </a>
                            <div class="collapse" id="page-reports">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" id="lnkClientReport" onclick="highlightSelectedMenuItem(this)" href="@Url.Action("Report", "Report")">Restaurant Report</a></li>
                                </ul>                             
                            </div>
                        </li>                    
                    }
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    </div>
                </footer>

                <footer class="border-top footer text-muted">
                    <div class="container">
                        ©Wits Innovation Centre 2023 - <a asp-area="" asp-page="/Privacy">All rights reserved</a>
                    </div>
                </footer>



                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assets/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/vendors/moment/moment.min.js"></script>
    <script src="~/assets/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/vendors/chartist/chartist.min.js"></script>
    <script src="~/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/assets/vendors/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/alerts.js"></script>
    <script src="~/assets/js/CheckPasswordStrength.js"></script>
    <script src="~/assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/formpickers.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <script src="~/assets/js/data-table.js"></script>

    <script src="~/js/select2.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>*@

    <script>
        $(document).ready(function () {

            if (window.location.href.includes("SupportLogging/supportCase")) {
                $('#lnkNewSupportCase').addClass('active');
                $('#page-layouts').addClass('show');
                $('#page-layouts-parent').addClass('active');
            } else {

            }

            if (sessionStorage.getItem('notificationData') != null) {
                pushNotification('')
            }
        });


        let notificationData = {
            notifications: []
        };

        var notificationCount = 0;

        function pushNotification(notification) {

            if (sessionStorage.getItem('notificationData') != null && notification == '') {
                var notificationDataDataString = sessionStorage.getItem('notificationData');
                notificationData = JSON.parse(notificationDataDataString);
                bindNotification(notificationData)
            }
            else if (notification != '') {
                var notification = {
                    sentBy: 'Support',
                    message: notification
                }

                notificationData.notifications.push(notification);
                bindNotification(notificationData)
            }
        }

        function bindNotification(notificationData) {
            notificationCount++;
            $('#messageCount').html(notificationCount);
            $('#messageCount').addClass('count');
            $('#messageDropdownContainer').html("");
            var messageDropdown = $('#messageDropdownContainer');


            $.each(notificationData.notifications, function (index, item) {
                var content = '<a class="dropdown-item preview-item">';
                content += '<div class="preview-thumbnail">';
                content += '<img src="../../assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic">';
                content += '</div>';
                content += '<div class="preview-item-content flex-grow py-2">';
                content += '<p class="preview-subject ellipsis font-weight-medium text-dark">' + item.sentBy + ' </p>';
                content += '<p class="font-weight-light small-text">' + item.message + '</p>';
                content += '</div>';
                content += ' </a>';
                messageDropdown.append(content);
            });

            sessionStorage.setItem("notificationData", JSON.stringify(notificationData));

            // append the div once
        }

        function highlightSelectedMenuItem(element) {

        }

        //function initFreshChat() {
        //    window.fcWidget.init({
        //        token: "95a95598-fd9f-450e-8050-523a055b9311",
        //        host: "https://wchat.freshchat.com"
        //    });
        //}

        //function initialize(i, t) { var e; i.getElementById(t) ? initFreshChat() : ((e = i.createElement("script")).id = t, e.async = !0, e.src = "https://wchat.freshchat.com/js/widget.js", e.onload = initFreshChat, i.head.appendChild(e)) } function initiateCall() { initialize(document, "freshchat-js-sdk") } window.addEventListener ? window.addEventListener("load", initiateCall, !1) : window.attachEvent("load", initiateCall, !1);


        @* function IsSessionAlive() {
            $.post("/Login/IsSessionAlive", function (data) {
            if (data === 'false') {
            window.location.href = '@Url.Action("Locked", "Login")';
            }
            });
            }

            $(function () {
            //set interval to 5 minutes
            window.setInterval(IsSessionAlive, 20000);
            }) *@

    </script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    @*<script src="~/assets/js/dashboard.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
    <!-- End custom js for this page -->


</body>
</html>
