﻿@{
    ViewData["Title"] = "Client Report";
    Layout = "~/Pages/Shared/_Layout_Main.cshtml";
}

<style>
    td {
        white-space: normal !important;
    }
</style>

<div class="main-panel" style="width: -webkit-fill-available;">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> User Reporting For Remuneration </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Reporting </a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Reports</li>
                </ol>
            </nav>
        </div>

        <div class="card">
            <div class="card-body">
                <div style="clear:both;padding:30px"></div>              
                <div class="row">
                    <div class=" col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Name:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="drpUserName">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Calendar Month:</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="drpMonth">
                                    <option value="0">-- Select A Month --</option>
                                    <option value="1">JAN</option>
                                    <option value="2">FEB</option>
                                    <option value="3">MAR</option>
                                    <option value="4">APR</option>
                                    <option value="5">MAY</option>
                                    <option value="6">JUN</option>
                                    <option value="7">JUL</option>
                                    <option value="8">AUG</option>
                                    <option value="9">SEP</option>
                                    <option value="10">OCT</option>
                                    <option value="11">NOV</option>
                                    <option value="12">DEC</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <input type="button" class="btn btn-primary pull-right" id="btnLoadReport" value="Load" onclick="loadUserReoprt()" />
                    </div>
                </div>
                <div style="clear:both;padding:20px"></div>
                <div class="row">
                    <div class="col-12">

                        <div class="table-responsive">
                            <table id="userReportTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Total Time HH:MM</th>
                                        <th>Client</th>
                                        <th>Country</th>
                                        <th>Depot</th>
                                        <th>Product</th>
                                        <th>Issue</th>
                                        <th>Resolution</th>
                                        <th>Valid For Billing</th>
                                        <th>Reason</th>
                                        <th>Assited By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnId" />
</div>

<script src="~/Scripts/Views/Reports/UserReport.js"></script>
