﻿@model IEnumerable<SupportDash.Models.SupportCase>
@{
    ViewData["Title"] = "Survey";
    Layout = "~/Pages/Shared/_Layout_Main.cshtml";
}



<style>
    td {
        white-space: normal !important;
    }
</style>

<div class="main-panel" style="width: -webkit-fill-available;">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Survey Screen </h3>
        </div>


    </div>
    <input type="hidden" id="hdnId" />
</div>