﻿body {
}

.clsBigParagragh {
    font-family: Segoe UI;
    font-size: 14px;
    font-style: italic;
}

    p.clsBigParagragh :hover {
        font-family: Segoe UI;
        font-size: 14px;
        font-style: italic;
        color: #fff !important;
    }

.clsBigPlainParagragh {
    font-family: Segoe UI;
    font-size: 14px;
    color: #fff
}

.clsSmallText p {
    font-family: Segoe UI;
    font-size: 12px;
}

.clsButton {
    background: #0C71C3;
    border-radius: 1px;
    height: 30px;
    font-family: Segoe UI;
    font-size: 11px;
    border: 2px solid #0C71C3;
    color: #fff;
}

.clsButtonDanger {
    background: #ff1d43;
    border-radius: 1px;
    height: 20px;
    font-family: Segoe UI;
    font-size: 11px;
    border: 2px solid #0C71C3;
    color: #fff;
}

.clsWhiteButton {
    background: #fff;
    border-radius: 1px;
    height: 30px;
    font-family: Segoe UI;
    font-size: 11px;
    border: 1px solid grey;
    color: gray;
    border-radius: 2px;
}

.clsWhiteButtonCalc {
    width: 70px;
    background: #fff;
    border-radius: 1px;
    height: 30px;
    font-family: Segoe UI;
    font-size: 11px;
    border: 1px solid grey;
    color: gray;
    border-radius: 2px;
}

.clsMenuHighLight:hover {
    background-color: #0c71c3 !important;
    color: #fff;
}

.clsActive {
    background-color: #0c71c3 !important;
    color: #fff;
}


.clsTxtDanger {
    border: 2px solid #ff1d43 !important;
}

.clsButtonDisabled {
    background: #bcbec0;
    border-radius: 1px;
   
    font-family: Segoe UI;
    font-size: 11px;
    border: 2px solid #bbc2c7;
    color: #000;
}

tr > td:last-child > button {
    visibility: hidden;
}

tr:hover > td:last-child > button {
    visibility: visible;
}

.clsCenterDivDark {
    background-color: #181824;
}

.clsSideDivDark {
    background-color: #23232E;
}

ul.clsCenterDivDark {
    color: #BDBDBD !important;
}

.clsSideDivLight {
    background-color: white;
}

.clsCenterDivLight {
    background-color: ghostwhite;
}

.clsMenuLight {
    border-bottom: 1px solid #d3d3d3;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 10px;
    box-shadow: 5px 5px #d3d3d3;
}

.clsMenuDark {
    border-bottom: 1px solid #181824;
    background-color: #2B2B37;
    padding-top: 25px;
    padding-bottom: 10px;
    box-shadow: 5px 5px #484848;
    color: #fff !important;
}

.clsMenuTextLight {
    color: #343A40;
    font-style: italic;
}

.clsMenuTextDark {
    color: #979797;
    font-style: italic;
}
.clsCalcInputLight {
    border: 1px solid #d3d3d3 !important;
    border-radius: 3px !important;
    color: #fff !important;
}

.clsCalcInputDark {
    border: 1px solid #d3d3d3 !important;
    border-radius: 3px !important;
    background-color: #181824 !important;
    color: #fff !important;
}

.clsAddOnLight {
    background-color: #fff !important;
    box-shadow: 1px 1px #d3d3d3 !important;
    color: #000 !important;
}

.clsAddOnDark {
    background-color: #2B2B37 !important;
    box-shadow: 1px 1px #2B2B37 !important;
    color: #fff !important;
    border-bottom: 1px solid #2B2B37 !important;
}

.clsWhiteButtonDark {
    background: #181824;
    border-radius: 1px;
    height: 30px;
    font-family: Segoe UI;
    font-size: 11px;
    border: 1px solid grey;
    color: #fff;
    border-radius: 2px;
}

.clsWhiteButtonCalcDark {
    background: #181824;
    width: 70px;
    border-radius: 1px;
    height: 30px;
    font-family: Segoe UI;
    font-size: 11px;
    border: 1px solid grey;
    color: gray;
    border-radius: 2px;
}