﻿@{
    ViewData["Title"] = "Logging";
    Layout = "~/Pages/Shared/_Layout_Main.cshtml";
}

<div class="main-panel" style="width: -webkit-fill-available;">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Create New Case </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Logging</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Capture New Case</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <form class="form-sample">
                            <p class="card-description"> Ticket info </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Client:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="drpClients" onchange="populateCounties()">
                                                <option value="-1">-- Select A Client --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Country:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="drpCountries" onchange="populateDepots()">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Depot Name:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="drpDepots" onchange=" populateProducts()">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Requestor Name:</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="Requestor Name" id="txtRequestorName" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Product:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="drpProducts">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Date:</label>
                                        <div class="col-sm-9">
                                            <div id="datepicker-popup" class="input-group date datepicker">
                                                <input type="text" class="form-control" id="txtDate">
                                                <span class="input-group-addon input-group-append border-left">
                                                    <span class="icon-calendar input-group-text"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Start Time:</label>
                                        <div class="col-sm-9">
                                            <div class="input-group date" id="startTime" data-target-input="nearest">
                                                <div class="input-group" data-target="#startTime" data-toggle="datetimepicker">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#startTime" id="txtStartTime" />
                                                    <div class="input-group-addon input-group-append"><i class="icon-clock input-group-text"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Issue Description:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Issue Description" id="txtDescription" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Resolution Description:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Resolution Description" id="txtResolutionDesc" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Valid For Billing:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="drpValidForBilling" onchange="reasonForBilling()">
                                                <option value="-1">-- Select A Client --</option>
                                                <option value="true">True</option>
                                                <option value="false">False</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Reason For No Billing:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Reason For No Billing" id="txtReason" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Assisted By:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="drpAssitedBy">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">End Time:</label>
                                        <div class="col-sm-9">
                                            <div class="input-group date" id="endTime" data-target-input="nearest">
                                                <div class="input-group" data-target="#endTime" data-toggle="datetimepicker">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#endTime" id="txtEndDate" onfocusout="calculateTime()" />
                                                    <div class="input-group-addon input-group-append"><i class="icon-clock input-group-text"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Time Spent On Support In Hours:</label>
                                        <div class="col-sm-9">
                                            <div class="input-group date" id="timeDiff" data-target-input="nearest">
                                                <div class="input-group" data-target="#timeDiff" data-toggle="datetimepicker">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#timeDiff" id="txtTimeSpent" disabled readonly />
                                                    <div class="input-group-addon input-group-append"><i class="icon-clock input-group-text"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input class="btn btn-primary" id="btnSave" value="Save" onclick="saveSupportCase()" style="float: right;" />
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Views/Settings/User.js"></script>

