﻿@model IEnumerable<SupportDash.Models.UserView>
@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Pages/Shared/_Layout_Main.cshtml";
}
<h1>User Management</h1>
<style>
    td {
        white-space: normal !important;
    }
</style>
<div class="main-panel" style="width: -webkit-fill-available;">
    <div class="content-wrapper">      
        <div class="card">
            <div class="card-body">
                <div class="row" id="divAddUser" style="display:none">
                    <div class="col-12">
                        <h4 class="card-title" id="supportRef"> </h4>
                        <div style="clear:both;padding:20px"></div>
                        <form class="form-sample">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Name:</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="Name" id="txtName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Surname:</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="Surname" id="txtSurname" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">UserName:</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="UserName" id="txtUserName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">EmailAddress:</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" placeholder="Email" id="txtEmailAddress" />
                                        </div>
                                    </div>
                                </div>                                
                            </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Role:</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="roleId">
                                                 @*<option value="-1">-- Select A Role --</option>*@
                                            </select>
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Password:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Password" id="txtPassword" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-12">
                                    <input class="btn btn-primary pull-left" id="btnCancel" value="Cancel" onclick="cancel()" style="float: left;" />
                                    <input class="btn btn-primary pull-right" id="btnSave" value="Save" onclick="saveUser()" style="float: right;" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div style="clear:both;padding:30px"></div>
                <div id="divTableContainer">
                    <div class="row">
                        <div class=" col-md-4">
                            <input class="btn btn-primary pull-left" id="btnLoadSupportCase" value="ADD" onclick="AddNewUser()" />
                        </div>
                    </div>
                    <div style="clear:both;padding:20px"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="addUserTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>Username</th>
                                            <th>RoleName</th>
                                            <th>Password</th>                                       
                                            <th>Edit</th>                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="userId" value="0" />
</div>
<script src="~/Scripts/Views/Settings/User.js"></script>