﻿@{
    ViewData["Title"] = "Logging";
    Layout = "~/Pages/Shared/_Layout_Main.cshtml";}

<div><img src="~/assets/images/restaurant.jpg" style="width:100%;height:100%;background-position: center;
            background-repeat: no-repeat;
            background-size: cover;"/>
</div>
