﻿@{
    ViewData["Title"] = "Report";
    Layout = "~/Pages/Shared/_Layout_Main.cshtml";
}

<style>
    td {
        white-space: normal !important;
    }
</style>
<div class="main-panel" style="width: -webkit-fill-available;">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Reports Screen </h3>        
        </div>

    </div>
    <input type="hidden" id="hdnId" />
</div>



