﻿
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "";
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SLSWebApp</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                                <img src="~/assets/images/witslogo.jpg" alt="logo" style="width: 56px;height: 64px;">
                            </div>
                            <h4>Please Provide Your Email</h4>
                            @*<h6 class="font-weight-light">Happy to see you again!</h6>*@
                            <form class="pt-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="icon-envelope text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="email" id="email" class="form-control form-control-lg border-left-0" placeholder="Email" required="required" />
                                    </div>
                                </div>

                                <div class="my-3">
                                    <input type="button" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" onclick="getResetPassword()" value="RESET PASSWORD" autocomplete="off" />
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Don't have an account? <a href="@Url.Action("Register", "Login")" class="text-primary">Create</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 login-half-bg d-flex flex-row">
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <script src="~/assets/vendors/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/alerts.js"></script>
    <script src="~/Scripts/Views/Login/forgotPassword.js"></script>
    <!-- endinject -->
</body>

