﻿
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "";
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SLSWebApp</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link href="~/assets/css/CheckPasswordStrength.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" />

    <style>
        .Short {
            width: 100%;
            background-color: #dc3545;
            margin-top: 5px;
            height: 3px;
            color: #dc3545;
            font-weight: 500;
            font-size: 12px;
        }

        .Weak {
            width: 100%;
            background-color: #ffc107;
            margin-top: 5px;
            height: 3px;
            color: #ffc107;
            font-weight: 500;
            font-size: 12px;
        }

        .Good {
            width: 100%;
            background-color: #28a745;
            margin-top: 5px;
            height: 3px;
            color: #28a745;
            font-weight: 500;
            font-size: 12px;
        }

        .Strong {
            width: 100%;
            background-color: #00FF00;
            margin-top: 5px;
            height: 3px;
            color: #00FF00;
            font-weight: 500;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                                <img src="~/assets/images/witslogo.jpg" alt="logo" style="width: 56px;height: 64px;">
                            </div>
                            <h4>Please Provide Your New Password</h4>
                            @*<h6 class="font-weight-light">Happy to see you again!</h6>*@
                        <form class="pt-3">                          

                            <div class="form-group">
                                <label>New Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="icon-lock text-primary"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control form-control-lg border-left-0" id="newPassword" placeholder="New Password" required="required" />
                                    <div class="input-group-append" onclick="showNewPassword()" style="cursor:pointer">
                                        <span class="input-group-text">
                                            <i class="icon-eye text-primary"></i>
                                        </span>
                                    </div>
                                </div>
                                <div id="strengthMessage"></div>
                            </div>

                            <div class="form-group">
                                <label>Confirm Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend bg-transparent">
                                        <span class="input-group-text bg-transparent border-right-0">
                                            <i class="icon-lock text-primary"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control form-control-lg border-left-0" id="passwordConfirm" placeholder="Confirm Password" required="required" />
                                    <div class="input-group-append" onclick="showConfirmPassword()" style="cursor:pointer">
                                        <span class="input-group-text">
                                            <i class="icon-eye text-primary"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divPasswordError" style="display:none">
                                <label style="font-weight:bold; font-size:12px; color:red">Passwords don't match</label>
                            </div>
                            <div class="my-3">
                                <input type="button" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" onclick="resetPassword()" value="RESET PASSWORD" autocomplete="off" />
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                Don't have an account? <a href="@Url.Action("Index", "Login")" class="text-primary">LOGIN</a>
                            </div>
                        </form>
                        </div>
                    </div>
                    <div class="col-lg-6 login-half-bg d-flex flex-row">

                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/todolist.js"></script>
    <script src="~/assets/js/CheckPasswordStrength.js"></script>
    <script src="~/assets/vendors/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/js/alerts.js"></script>
    <script src="~/Scripts/Views/Login/resetPassword.js"></script>
    <!-- endinject -->
</body>