﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/_Layout_Main.cshtml";
}

<div class="text-center">
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <!-- partial -->
            <div class="main-panel" style="width: -webkit-fill-available;">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Dashboard </h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Sample pages</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pricing Table</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row">
                        bamn
                    </div>
                   
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                   </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</div>
